@import url("colors.css");

* {
    font-family: "cherry";
    font-size: 13px;
    color: @color2;
}

window#waybar {
    background-color: @background;
}

tooltip {
    background-color: @background;
    border: 1px solid @color2;
}

tooltip label {
    color: @foreground;
}

#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#tray,
#backlight {
    padding: 0px 14px;
}

#tray {
    padding: 0px 15px;
}

#network {
    padding-left: 10px;
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#battery {
    padding-right: 20px;
}

#clock {
    padding-right: 25px;
    padding-left: 20px;
    background-color: @color2;
    color: @background;
    font-weight: 500
}
